<%= tag.div \
      class: "bar full-width flex flex-column justify-end",
      data: {
        controller: "bar",
        bar_dialog_outlet: "#bar-modal",
        bar_search_url_value: search_path,
        bar_ask_url_value: conversation_path,
      } do %>
  <div class="flex justify-center gap">
    <%= tag.button \
          class: "btn btn--plain",
          data: {
            controller: "hotkey",
            action: "
            bar#search
            keydown.meta+k@document->bar#search keydown.ctrl+k@document->bar#search" } do %>
      <span>Search [<%= hotkey_label(["ctrl", "K"]) %>]</span>
    <% end %>
    <span>or</span>
    <%= tag.button \
          class: "btn btn--plain",
          data: {
            controller: "hotkey",
            action: "
            bar#ask
            keydown.meta+a@document->bar#ask keydown.ctrl+a@document->bar#ask" } do %>
      <span>Ask [<%= hotkey_label(["ctrl", "A"]) %>]</span>
    <% end %>
  </div>

  <div hidden>
    <%= render "searches/form", query_terms: "" %>

    <%= render "conversations/composer" %>
  </div>

  <%= tag.dialog \
    id: "bar-modal",
    class: "bar__modal shadow",
    data: {
      controller: "dialog",
      dialog_target: "dialog",
      dialog_modal_value: "false",
      action: "keydown.esc->dialog#close" } do %>
    <%= turbo_frame_tag "fizzy-bar", data: { bar_target: "turboFrame" } %>
  <% end %>
<% end %>
